/*start-clearfix*/
#com-shop .clr{
    border: medium none;
    clear: both;
    display: block;
    float: none;
    height: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
}

#com-shop .srequired{
    color:#FF0000;
}

/* Messagess */

#com-shop #shop_info{
    padding:6px;
    border-radius:3px 3px 3px 3px;
    background-color:#E2E2E2;
    font-size:14px;
}

#com-shop #shop_info .system_message_error{
    background: url("images/warning.png") no-repeat scroll 10px center #E2E2E2 !important;
    padding: 0 0 0 40px;
}

#com-shop #shop_info .system_message_info{
    background: url("images/info.png") no-repeat scroll 10px center #E2E2E2 !important;
    padding: 0 0 0 35px;
}


#com-shop #products-list-top-view-mode .view-mode-label {
    float:left;
    color:#767676;
    line-height:20px;

}
#com-shop #products-list-top-view-mode a {
    float:left;
    display:block;
    padding:5px 5px;
}
#com-shop #products-list-top-view-mode a.active {
    background: url("images/grid.png")  no-repeat scroll 0 0 transparent;
    height: 20px;
    width: 42px;
    padding: 5px 4 110 11px;
    color:#484848;

    text-decoration:none;
}
#com-shop #products-list-top-view-mode a.first {
    margin-right:-26px;
    background: url("images/list.png")  no-repeat scroll 0 0 transparent;
    height: 20px;
    padding: 5px 4 0 11px;
    color:#484848;
    width: 42px;
    text-decoration:none;
}

/* Products list styles */

/*Base grid container*/
#com-shop ul.productsGrid,#com-shop div.productsGrid{
    width:100%;
    list-style: none outside none;
    padding:0;
    margin:0;
    letter-spacing: -0.31em;

}
/*Base list container*/



#com-shop .addBorder{
    border: 1px solid #DDDDDD;
    border-radius: 6px;
    padding:12px;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
    #com-shop .productsGrid .gridItem {
        letter-spacing:0;
        width:24%;
        display:inline-block;
        margin-left:1%;
        margin-top:1%;
        position:relative;
        text-align: center;
        vertical-align:top;
        *display:inline;
        *zoom:1;


    }

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    #com-shop .productsGrid .gridItem {
        letter-spacing:0;
        width:24%;
        display:inline-block;
        margin-left:1%;
        margin-top:1%;
        position:relative;
        text-align: center;
        vertical-align:top;
        *display:inline;
        *zoom:1;


    }

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    #com-shop .productsGrid .gridItem {
        letter-spacing:0;
        width:24%;
        display:inline-block;
        margin-left:1%;
        margin-top:1%;
        position:relative;
        text-align: center;
        vertical-align:top;
        *display:inline;
        *zoom:1;


    }

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    #com-shop .productsGrid .gridItem {
        letter-spacing:0;
        width:32%;
        display:inline-block;
        margin-left:1%;
        margin-top:1%;
        position:relative;
        text-align: center;
        vertical-align:top;
        *display:inline;
        *zoom:1;


    }

}

/* Landscape phones and smaller */
@media (max-width: 480px) {
    #com-shop .productsGrid .gridItem {
        letter-spacing:0;
        width:48%;
        display:inline-block;
        margin-left:1%;
        margin-top:1%;
        position:relative;
        text-align: center;
        vertical-align:top;
        *display:inline;
        *zoom:1;


    }

}


/*Make images responsive in grid and list*/
#com-shop .productsGrid .gridItem img, #com-shop .productsList .listItem  img{
    max-width:100%;
    height:auto;

}



#com-shop  .gridItem h4, #com-shop .productsList .listItem  h4 {
    word-wrap:normal;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-size: 12px;
    font-weight:bold;
    min-height:2em;
    font-weight:bold;

}

#com-shop  .gridItem h6, #com-shop .productsList .listItem  h6 {
    font-weight:bold;
    font-size: 0.857143rem;
    line-height: 1.84615;
}


#com-shop .productsGrid .gridItem:hover h4{
    word-wrap:break-word;
    white-space:normal;
    overflow:visible;

}

#com-shop .productsGrid .gridItem:hover{
    box-shadow:4px 4px 3px rgba(0, 0, 0, 0.1);
}

#com-shop  .gridItem .price, #com-shop .productsList .listItem .price {
    display:inline-block;
    margin-top:5px;
    font-size:14px;
    font-weight:700;
    margin-bottom:5px;
    color:#000;
}



#com-shop  .gridItem a.buy_button, #com-shop .productsList .listItem a.buy_button {
    text-decoration: none;
    padding:4px;
}

#com-shop .productsList .listItem a.buy_button{
    display:inline-block;
}

#com-shop  ul.pagination{
    float:none;
}

#com-shop  ul.pagination li{
    margin:0;
    padding:0;

}



.addBootstrap .pagination > li > a, .addBootstrap .pagination > li > span {
    height:inherit;
}

#com-shop #products-list-top-controls {
    border-bottom-color: #D0D0D0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-color: #D0D0D0;
    border-top-style: solid;
    border-top-width: 1px;
    font-size: 14px;
    margin-top:15px;
    padding-top:5px;
    padding-bottom:5px;
}



/* PRODUCT DETAILS */


#com-shop .product-view div.att-container  input.property {

    margin:0;
    padding:0;
}

#com-shop .addFocusGlow:focus{
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;

}

#com-shop .product-view p{
    word-wrap:break-word;
}


#com-shop .product-view .product-name h1 {
    font-size: 16px;
    font-weight:bold;
    margin: 0;
    border-bottom: 1px dotted;
}

#com-shop .product-view .price {
    white-space: nowrap !important;
    color:red;
}



#com-shop .product-view img {
    border: 0 none;
    vertical-align: top;
    max-width:100%;
    height:auto;
}

#com-shop .product-view .product-img-box .product-image {
    margin: 0 0 13px;
}

#com-shop .product-view  .product-attributes {

    margin: 4px 0 0;
    padding: 10px 6px 6px;

}

#com-shop .product-view  .attribute-name{
    font-size: 13px;
    color: #545050;

    font-weight: bold;
}
#com-shop .product-view  .att-container div {
    font-size: 14px;
    color: #59577F;
    font-weight: bold;
}




#com-shop .product-view  div.att-container:not(#single_attribute )  input[type='checkbox'],
#com-shop .product-view  div.product-files  input[type='checkbox']
{
    display:inline;
    /* Hide the input, but have it still be clickable */
    opacity: 0;
    visibility:hidden;
    float: left;
    width: 18px;
}

#com-shop .product-view  div.att-container:not(#single_attribute )  input[type='checkbox'] + label,
#com-shop .product-view  div.product-files  input[type='checkbox'] + label
{
    margin: 0;
    margin-left: -24px;
    clear: none;
    display:inline;
    /* Left padding makes room for image */
    padding: 5px 0 4px 24px;

    /* Make look clickable because they are */
    cursor: pointer;

    background: url(images/off.png) left center no-repeat; 
}

#com-shop .product-view  div.att-container:not(#single_attribute )  input[type='checkbox']:checked + label,
#com-shop .product-view  div.product-files  input[type='checkbox']:checked + label
{
    display:inline;
    background-image: url(images/check.png);
}


#com-shop .product-view  h2 {
    border-bottom: 1px solid #CCCCCC;
    font-size: 12px;
    margin: 0 0 8px;
    text-transform: uppercase;
} 
#com-shop .product-view .more-views {
    margin-top:6px;
}
#com-shop .product-view  .more-views ul {
    padding:0;
    margin:0;
    list-style-type: none;
}
#com-shop #submit-form-container div{
    padding:0;
    margin:0;
}
#com-shop .product-view .more-views li {
    float: left;
    margin: 0 0 8px 6px;

}

.move-down-by-10px{
    margin-top:10px!important;
}
.move-down-by-20px{
    margin-top:20px!important;
}

.move-down-by-30px{
    margin-top:30px!important;
}

.move-down-by-40px{
    margin-top:40px!important;

}

.move-down-by-50px{
    margin-top:50px!important;
}

#com-shop .listItem{
    border-bottom-color: #DFDED6;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 12px;
    padding-bottom: 12px;


}



/*Checkout Styles*/



#com-shop #checkout p.info,div.info {
    background-color: #EEEEEE;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    margin: 10px 0 20px;
    padding: 9px 10px 9px 50px;
}



#com-shop #checkout div.login,div.register{
    padding: 9px 10px 9px 10px!important;
}


#com-shop #checkout div.login span.icon-user,#com-shop #checkout div.register span.icon-locked{
    font-size: 21px;
    vertical-align:text-top;
}
#com-shop #checkout div.login > div,#com-shop #checkout div.register > div{

    display: inline-block;
    margin-left: 20px;

}

#com-shop #checkout  p {
    margin: 0 0 1.5em;
    text-align: justify;
}
#com-shop #checkout .info a {
    color: #93864E;
}
#com-shop #checkout form.login, #com-shop #checkout div#register {
    border: 1px solid #E7E7E7;
    border-radius: 5px 5px 5px 5px;
    margin: 20px 0 20px 0;
    padding: 20px;
    text-align: left;
}

#com-shop #checkout h3 {
    font-size: 1.5em;
    line-height: 2;
    clear: both;
    color: #111111;
    font-family: Helvetica,Arial,"Lucida Grande",Verdana,sans-serif;
}

#com-shop #checkout table.shop_table img{
    width:100%;
    height:auto;
}
#com-shop #checkout table.shop_table h2.product-name a{
    font-size:15px;
}
#com-shop #checkout table.shop_table {
    border: none;
    border-spacing:3px;
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;

}

#com-shop #checkout table.shop_table th {
    color: #888888;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    padding: 9px 12px;
    border:none;
}
#com-shop #checkout table.shop_table th, #com-shop table.shop_table td {
    border-bottom: 0.1em solid #DDDDDD;
    border-style:dashed;
    height: 1em;
    border-right:none;
    border-left:none;
    border-top:none;
    vertical-align: middle;


}
#com-shop #checkout table.shop_table tbody td {
    font-weight: bold;
}

#com-shop #checkout strong {
    font-weight: bold;
}


#com-shop #checkout #payment div.payment_box:after {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent #EEEEEE;
    border-style: solid;
    border-width: 8px;
    content: "";
    display: block;
    left: 0;
    margin: -1em 0 0 2em;
    position: absolute;
    top: -4px;
}
#com-shop #checkout #payment div.payment_box {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #EEEEEE;
    font-size: 0.92em;
    margin: 1em 0;
    padding: 1em 2% 0;
    position: relative;
    width: 96%;
}
#com-shop #checkout #payment div.payment_box p {
    margin: 0 0 1em;
}


#com-shop #checkout #shiptobilling {
    float: right;
    line-height: 1.62em;
    margin: 0;
    padding: 0;
    width:100%;
    text-align:right;
}



#
#com-shop #checkout div.processOrderContainer{
    text-align:right;
    width:100%;
    display:block;

}
#com-shop #checkout div.processOrderContainer span.icon-checkmark:before{
    color:#FFFFFF;
}
#com-shop #checkout div.processOrderContainer  button{
    float:right;
}
#com-shop #checkout  input[type='checkbox'],
#com-shop #checkout  input[type='radio']
{

    /* Hide the input, but have it still be clickable */
    opacity: 0;
    visibility:hidden;
    float: left;
    width: 18px;
}

#com-shop #checkout  input[type='checkbox'] + label,
#com-shop #checkout  input[type='radio'] + label
{
    margin: 0;
    clear: none;

    /* Left padding makes room for image */
    padding: 5px 0 4px 24px;

    /* Make look clickable because they are */
    cursor: pointer;

    background: url(images/off.png) left center no-repeat; 
}

#com-shop #checkout  input[type='checkbox']:checked + label,
#com-shop #checkout  input[type='radio']:checked + label 
{
    background-image: url(images/check.png);
}



/* Cart View Styles */
#com-shop #cart-view dl,#com-shop #cart-view dt,#com-shop #cart-view dd{
    padding:0;
    margin:0;

}
#com-shop #cart-view  ul,#com-shop #cart-view  ol {
    list-style: none outside none;
}


#com-shop .data-table {
    border-color: #D9D9D9 #D9D9D9 -moz-use-text-color;
    border-style: solid solid none;
    border-width: 1px 1px 0;

}


#com-shop .data-table thead {
    background: url("images/thea.gif") repeat-x scroll 0 0 #E8E8E8;
    font-size: 11px;
}

#com-shop  .cart-table thead th {
    vertical-align: bottom;
}

#com-shop  .data-table th {
    border-bottom: 1px solid #D9D9D9;
    color: #2D2D2D;
    font-weight: normal;
    padding: 5px 12px;
    text-transform: uppercase;
    white-space: nowrap;
}

#com-shop #cart-view caption,#com-shop #cart-view th,#com-shop #cart-view td {
    font-weight: normal;
    text-align: left;
    vertical-align: top;
}

#com-shop .nobr {
    white-space: nowrap !important;
}

#com-shop  .data-table tfoot {
    background-color: #EDEDED;
}

#com-shop  .data-table tfoot td {
    padding: 5px 12px;
}

#com-shop .data-table td {
    padding: 5px 12px;
}

#com-shop #cart-view .cart-table tbody td {
    padding: 12px;
}

#com-shop #cart-view .product-name {
    color: #333333;
    font-size: 12px;
    font-weight: bold;

}

#com-shop #cart-view h2 {
    color: #000000;
    font-size: 16px;
    font-weight: normal;
}

#com-shop #cart-view .product-name a {
    color: #333333;
    text-decoration: underline;
}



#com-shop #cart-view .data-table .item-options dt {
    padding: 3px 0 0 10px;
}

#com-shop #cart-view .item-options dt {
    font-weight: bold;
    padding: 7px 0;
}

#com-shop #cart-view .data-table .item-options dd {
    padding: 0 0 3px 10px;
}

#com-shop #cart-view .item-options dd {
    padding-bottom: 5px;
}

#com-shop #cart-view .data-table .item-options .price {
    font-weight: bold;
    margin-left: 5px;
}

#com-shop  .a-center {
    text-align: center !important;
}

#com-shop .a-right {
    text-align: right !important;
}

#com-shop .a-left {
    text-align: left !important;
}

#com-shop #cart-view .cart .totals {
    float: right;
    font-size: 14px;
    padding: 0px 15px 0;

}

#com-shop #cart-view .cart .totals table {
    width: 100%;
    border:0px;
}

#com-shop #cart-view .cart .totals table th,#com-shop #cart-view  .cart .totals table td {
    padding: 0 5px 5px;
    border:0px;
}

#com-shop #cart-view .cart .totals table tbody strong {
    color: #335EA8;
    display: block;
    font-size: 18px;
    font-weight: normal;
    margin: 10px 0 15px;
}

#com-shop #cart-view .cart .totals table tbody td .price {
    font-weight: bold;
}

#com-shop #cart-view .price {
    white-space: nowrap !important;
}


#com-shop #cart-view .cart .cart-collaterals {
    padding: 20px 0 10px;
}

#com-shop #cart-view .cart .cart-collaterals h2 {
    color: #000000;
    font-weight: normal;
    margin: 0 0 5px;
}

/* Account View */



#com-shop #account-view .box-account .box-head h2 {
    font-weight:bold;
    margin:0;
    text-transform:uppercase;
}

#com-shop .product-view .att-container select{
    font-size: 12px;
    padding: 0.1em 0.2em 0;
    width:100%;
}

#com-shop .availability{
    font-size:11px;
    padding-bottom:10px!important;
}
#com-shop .availability span{
    font-weight:bold;
}
#com-shop .product-view .att-container label{
    font-size:13px;
}

#com-shop .old_price{
    text-decoration:line-through;
}

#com-shop .oldPriceTitle{
    color:#8A9198;
}
#com-shop .specialPriceTitle{
    font-weight: bold;
}

#com-shop .product_has_discount{

}


#com-shop *,#com-shop *:before,#com-shop *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}



#billing_country_chosen, #shipping_country_chosen,#billing_state_chosen,#shipping_state_chosen{
    width:100%!important;
}

/* BUTTONS */
#com-shop .btn {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 4px 14px!important;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    *line-height: 18px;
    text-align: center;

    cursor: pointer;
    color: #333;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe5e5e5', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    *background-color: #e6e6e6;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border: 1px solid #bbb;
    *border: 0;
    border-bottom-color: #a2a2a2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    *margin-left: .3em;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
#com-shop .btn:hover,
#com-shop  .btn:active,
#com-shop .btn.active,
#com-shop .btn.disabled,
#com-shop .btn[disabled] {
    color: #333;
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
}
#com-shop .btn:active,
#com-shop .btn.active {
    background-color: #cccccc \9;
}
#com-shop .btn:first-child {
    *margin-left: 0;
}
#com-shop .btn:hover {
    color: #333;
    text-decoration: none;
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
    background-position: 0 -15px;
    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear;
}
#com-shop .btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
#com-shop .btn.active,
#com-shop .btn:active {
    background-color: #e6e6e6;
    background-color: #d9d9d9 \9;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
#com-shop .btn.disabled,
#com-shop .btn[disabled] {
    cursor: default;
    background-color: #e6e6e6;
    background-image: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
#com-shop .btn-large {
    padding: 9px 14px!important;
    font-size: 15px;
    line-height: normal;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#com-shop .btn-large [class^="icon-"] {
    margin-top: 2px;
}
#com-shop .btn-small {
    padding: 3px 9px!important;
    font-size: 11px;
    line-height: 16px;
}
#com-shop .btn-small [class^="icon-"] {
    margin-top: 0;
}
#com-shop .btn-mini {
    padding: 2px 6px!important;
    font-size: 10px;
    line-height: 14px;
}
#com-shop .btn-block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#com-shop .btn-block + .btn-block {
    margin-top: 5px;
}
#com-shop .btn-primary.active,
#com-shop .btn-warning.active,
#com-shop .btn-danger.active,
#com-shop .btn-success.active,
#com-shop .btn-info.active,
#com-shop .btn-inverse.active {
    color: rgba(255,255,255,0.75);
}
#com-shop .btn {
    border-color: #c5c5c5;
    border-color: rgba(0,0,0,0.15) rgba(0,0,0,0.15) rgba(0,0,0,0.25);
}
#com-shop .btn-primary {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #1d6cb0;
    background-image: -moz-linear-gradient(top,#2384d3,#15497c);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#2384d3),to(#15497c));
    background-image: -webkit-linear-gradient(top,#2384d3,#15497c);
    background-image: -o-linear-gradient(top,#2384d3,#15497c);
    background-image: linear-gradient(to bottom,#2384d3,#15497c);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2384d3', endColorstr='#ff15497c', GradientType=0);
    border-color: #15497c #15497c #0a223b;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    *background-color: #15497c;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
#com-shop .btn-primary:hover,
#com-shop .btn-primary:active,
#com-shop .btn-primary.active,
#com-shop .btn-primary.disabled,
#com-shop .btn-primary[disabled] {
    color: #fff;
    background-color: #15497c;
    *background-color: #113c66;
}
#com-shop .btn-primary:active,
#com-shop .btn-primary.active {
    background-color: #0e2f50 \9;
}
#com-shop .btn-warning {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #faa732;
    background-image: -moz-linear-gradient(top,#fbb450,#f89406);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fbb450),to(#f89406));
    background-image: -webkit-linear-gradient(top,#fbb450,#f89406);
    background-image: -o-linear-gradient(top,#fbb450,#f89406);
    background-image: linear-gradient(to bottom,#fbb450,#f89406);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffab44f', endColorstr='#fff89406', GradientType=0);
    border-color: #f89406 #f89406 #ad6704;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    *background-color: #f89406;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
#com-shop .btn-warning:hover,
#com-shop .btn-warning:active,
#com-shop .btn-warning.active,
#com-shop .btn-warning.disabled,
#com-shop .btn-warning[disabled] {
    color: #fff;
    background-color: #f89406;
    *background-color: #df8505;
}
#com-shop .btn-warning:active,
#com-shop .btn-warning.active {
    background-color: #c67605 \9;
}
#com-shop .btn-danger {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #da4f49;
    background-image: -moz-linear-gradient(top,#ee5f5b,#bd362f);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#ee5f5b),to(#bd362f));
    background-image: -webkit-linear-gradient(top,#ee5f5b,#bd362f);
    background-image: -o-linear-gradient(top,#ee5f5b,#bd362f);
    background-image: linear-gradient(to bottom,#ee5f5b,#bd362f);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
    border-color: #bd362f #bd362f #802420;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    *background-color: #bd362f;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
#com-shop .btn-danger:hover,
#com-shop .btn-danger:active,
#com-shop .btn-danger.active,
#com-shop .btn-danger.disabled,
#com-shop .btn-danger[disabled] {
    color: #fff;
    background-color: #bd362f;
    *background-color: #a9302a;
}
#com-shop .btn-danger:active,
#com-shop .btn-danger.active {
    background-color: #942a25 \9;
}
#com-shop .btn-success {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #5bb75b;
    background-image: -moz-linear-gradient(top,#62c462,#51a351);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#62c462),to(#51a351));
    background-image: -webkit-linear-gradient(top,#62c462,#51a351);
    background-image: -o-linear-gradient(top,#62c462,#51a351);
    background-image: linear-gradient(to bottom,#62c462,#51a351);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    *background-color: #51a351;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
#com-shop .btn-success:hover,
#com-shop .btn-success:active,
#com-shop .btn-success.active,
#com-shop .btn-success.disabled,
#com-shop .btn-success[disabled] {
    color: #fff;
    background-color: #51a351;
    *background-color: #499249;
}
#com-shop .btn-success:active,
#com-shop button.btn:hover{
    background-image:none;
}
#com-shop .btn-success.active {
    background-color: #408140 \9;
}
#com-shop .btn-info {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #49afcd;
    background-image: -moz-linear-gradient(top,#5bc0de,#2f96b4);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#5bc0de),to(#2f96b4));
    background-image: -webkit-linear-gradient(top,#5bc0de,#2f96b4);
    background-image: -o-linear-gradient(top,#5bc0de,#2f96b4);
    background-image: linear-gradient(to bottom,#5bc0de,#2f96b4);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
    border-color: #2f96b4 #2f96b4 #1f6377;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    *background-color: #2f96b4;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
#com-shop .btn-info:hover,
#com-shop .btn-info:active,
#com-shop .btn-info.active,
#com-shop .btn-info.disabled,
#com-shop .btn-info[disabled] {
    color: #fff;
    background-color: #2f96b4;
    *background-color: #2a85a0;
}
#com-shop .btn-info:active,
#com-shop .btn-info.active {
    background-color: #24748c \9;
}
#com-shop .btn-inverse {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #363636;
    background-image: -moz-linear-gradient(top,#444,#222);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#444),to(#222));
    background-image: -webkit-linear-gradient(top,#444,#222);
    background-image: -o-linear-gradient(top,#444,#222);
    background-image: linear-gradient(to bottom,#444,#222);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
    border-color: #222 #222 #000000;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    *background-color: #222;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
#com-shop .btn-inverse:hover,
#com-shop .btn-inverse:active,
#com-shop .btn-inverse.active,
#com-shop .btn-inverse.disabled,
#com-shop .btn-inverse[disabled] {
    color: #fff;
    background-color: #222;
    *background-color: #151515;
}
#com-shop .btn-inverse:active,
#com-shop .btn-inverse.active {
    background-color: #090909 \9;
}
#com-shop button.btn,
#com-shop input[type="submit"].btn {
    *padding-top: 3px;
    *padding-bottom: 3px;
}
#com-shop button.btn::-moz-focus-inner,
#com-shop input[type="submit"].btn::-moz-focus-inner {
    padding: 0;
    border: 0;
}
#com-shop button.btn.btn-large,
#com-shop input[type="submit"].btn.btn-large {
    *padding-top: 7px;
    *padding-bottom: 7px;
}
#com-shop button.btn.btn-small,
#com-shop input[type="submit"].btn.btn-small {
    *padding-top: 3px;
    *padding-bottom: 3px;
}
#com-shop button.btn.btn-mini,
#com-shop input[type="submit"].btn.btn-mini {
    *padding-top: 1px;
    *padding-bottom: 1px;
}
#com-shop .btn-link,
#com-shop .btn-link:active {
    background-color: transparent;
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
#com-shop .btn-link {
    border-color: transparent;
    cursor: pointer;
    color: #08c;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
#com-shop .btn-link:hover {
    color: #005580;
    text-decoration: underline;
    background-color: transparent;
}
#com-shop .btn-group {
    display:inline;
    position: relative;
    font-size: 0;
    white-space: nowrap;
    *margin-left: .3em;
}
#com-shop .btn-group:first-child {
    *margin-left: 0;
}
#com-shop .btn-group + .btn-group {
    margin-left: 5px;
}
