/** toolbar icons **/

.icon-32-delete 			{ background-image: url(images/toolbar/icon-320.png); }
.icon-32-cancel 		{ background-image: url(images/toolbar/icon-321.png); }
.icon-32-search 		{ background-image: url(images/toolbar/icon-322.png); }
.icon-32-save 			{ background-image: url(images/toolbar/icon-323.png); }
.icon-32-new 		{ background-image: url(images/toolbar/icon-329.png); }
.icon-32-rates      { background-image: url(images/toolbar/shipping-320.png); }

/** header icon **/
.toolbar-header-default{
	background-color:#696969!important;
	padding-left:12px!important;
	border-radius:3px!important;

}
.toolbar-header i {
	color:#FFFFFF!important;
	font-size: 23px!important;
    line-height: 30px!important;
}
.toolbar-header-tax{
	background-image: url(images/toolbar-tax.png);
	padding-left: 12px !important;
}

.toolbar-header-globe{
	background-image: url(images/toolbar-globe.png);
	padding-left: 12px !important;
}

.icon-products 	{ background-image: url(images/toolbar/icon-products.png); }
.icon-stockroom 	{ background-image: url(images/toolbar/stockroom.png); }
.icon-attribute	{ background-image: url(images/toolbar/attribute.png); }
.icon-vat	{ background-image: url(images/toolbar/icon-vat.png); }
.icon-users	{ background-image: url(images/toolbar/icon-users.jpg); }
